.navbar {
    background-color: #111827;
    padding: 20px;
}

.navbar__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 24px;
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 700;
}

.navbar__menu a {
    text-decoration: none;
    color: var(--color-text);
    transition: var(--transition);
}

.navbar__menu a:hover {
    color: var(--color-primary);
}

.navbar__button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

.navbar__button:hover {
    background-color: var(--cor-primary-dark);
}