:root {
  /* Layout */
  --layout-max-width: 1200px;

  /* Primary Colors */
  --color-primary: #00E85A;
  --color-secondary: #19FF72;

  /* Background */
  --color-background: #121212;
  --color-surface: #1E1E1E;

  /* Text */
  --color-text: #FFFFFF;
  --color-text-secondary: #B8B8B8;

  /* Border */
  --color-border: #2D2D2D;

  /* Gradient */
  --gradient-primary: linear-gradient(135deg,
      #00D957 0%,
      #19FF72 100%);

  /* Shadow */
  --shadow-primary: 0 15px 35px rgba(0, 232, 90, .18);

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Transition */
  --transition-default: .3s ease;

}